.login-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: white;
}

.button-container {
    position: relative;
    display: inline-block;
}

.login-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #20d464;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    position: relative;
}

.button-image {
    position: absolute;
    left: 15px;  
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px;
    pointer-events: none;
}

.login-button:hover {
    background-color: #40dc74;
	transform: scale(1.02);
}

.button-container:hover .button-image {
    transform: translateY(-50%) scale(1.02);
}